
*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    background-color: #FFFFFFb2;
    overflow-x: hidden;
    padding: 0;
}

.page{
    padding: 0 5%;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero {
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: auto auto;
    align-items: center;
    margin-bottom: 10px;
}


.header{
    grid-area: nav;
}

.main{
    grid-area: main;
}

.section{
    grid-area: section;
}


.header{
    width: 100%;
    display:flex;
    height: 120px;
    justify-content: space-between;
    align-items:center;
}

.header__logo{
    display: flex;
    min-width: 225px;
    height: 54px;
    align-items:center;
}

.nav ul{
    padding: 0;
    margin: 0;
}

.nav{
    height: 27px;
    display: flex;
    align-items: center;
    }

.nav__list{
    display:flex;
    justify-content: space-between;
    gap: 56px;
}

.nav__list li{
    list-style: none;
}

.nav__list a{
    color:#313131;
    text-decoration: none;
    font-size: 18px;
    font-weight:400;
    font-family: 'poppins' ,sans-serif;
}

.home{
    color: #9B9A78;
}

.header__actions{
    display: flex;
    align-items: center;
    gap: 32px;
    }

.header__buttons{
    display: flex;
    align-items: center;
    gap: 14px;
}

.btn-icon{
    min-width: 32px;
    min-height: 32px;
    color: #313131;
    padding-right: 15px;
}

.btn--ghost{
    height: 58px;
    color: #9B9A78;
    font-family:'Nunito Sans' ,sans-serif;
    font-size:18px;
    font-weight: 400;
    align-content: center;
}

.btn--primary{
    background-color: #9B9A78;
    color:#FFFFFF;
    width: 149px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    font-family:'poppins' ,sans-serif;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.main{
    max-width: 1600px;
    height:auto;
    margin:0 ;
    align-items: center;
    position: relative;
}


.img-in {
    grid-column: 1/4 ;
    grid-row: 1;
}

.img-in img{
    width: 100%;
    height: 560px;
    object-fit:cover;
    display: block;
}


.rectangle{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    text-align: start;
    padding-left: 5%;
    grid-column: 3/6;
    grid-row: 1;
    line-height: 1.2;
    z-index: 2;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}



.lista{
    grid-column:3/6;
    grid-row: 2;
    display: flex;
    padding: 0;
    gap: 20px;
    align-items:end;
    justify-self: end;
    margin-top: -5%;
    margin-bottom: 5%;
    z-index: 3;
}


.lista ul{
    display: inline;
    list-style:none;
    margin: 0;
    padding: 0;
}

.lista img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.lista p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'poppins' ,sans-serif;
    white-space: nowrap;
}

.lista li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.rectangle h1 .title-line{
    display: inline-flex;
    align-items:center;
    white-space:nowrap;
}


.goold-rectangle{
    width: 72px;
    height: 8px;
    background-color: #9B9A78;
    margin-left: 30px;
    
 }

 .rectangle h1{
    display: flex;
    justify-self: start;
    text-align: left;
    margin: 0;
    flex-direction: column;
    margin-bottom: 5%;
    align-items: flex-start;
    font-family: 'Playfair Display SC' ,sans-serif;
    font-size:56px;
    font-weight:600;
    color: #313131;
 }

 .rectangle h3{
    text-align: start;
    font-family:'poppins' ,sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #909090;
    margin-bottom: 6%;
 }

 .categories{
    display: flex;
    width: 100%;
    max-width:1600px;
    justify-content:space-around;
    align-items: center;
 }

.category-card{
    gap: 32px;
}

.category-card img{
    width: 80px;
    height: 80px;
}

.categories h3{
    font-family: 'poppins' ,sans-serif;
    font-weight: 500;
    font-size: 24px;
    color:#313131;
    line-height: 8px;
}

.categories p {
    font-family: 'poppins' ,sans-serif;
    font-weight: 400;
    font-size:18px;
    color: #909090;
}

