:root{
    margin: 0;
    padding: 0;
    background-color: #FFFFFFB2;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    padding: 0;
}

.page{
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "nav"
    "main"
    "section";
}

.header{
    grid-area: nav;
}

.main{
    grid-area: main;
}

.section{
    grid-area: section;
}


.header{
    width: 100%;
    display:flex;
    height: 120px;
    justify-content: space-between;
    align-items:center;
    padding-top: 33px;
}

.header__logo{
    display: flex;
    min-width: 225px;
    height: 54px;
    align-items:center;
}

.nav ul{
    padding: 0;
    margin: 0;
}

.nav{
    height: 27px;
    display: flex;
    align-items: center;
    }

.nav__list{
    display:flex;
    justify-content: space-between;
    gap: 56px;
}

.nav__list li{
    list-style: none;
}

.nav__list a{
    color:#313131;
    text-decoration: none;
    font-size: 18px;
    font-weight:400;
    font-family: 'poppins' ,sans-serif;
}

.home{
    color: #9B9A78;
}

.header__actions{
    display: flex;
    align-items: center;
    gap: 32px;
    }

.header_buttons{
    display: flex;
    align-items: center;
    gap: 14px;
}

.btn_icon{
    min-width: 32px;
    min-height: 32px;
    color: #313131;
    padding-right: 15px;
}

.btn--ghost{
    height: 58px;
    color: #9B9A78;
    font-family:'Nunito Sans' ,sans-serif;
    font-size:18px;
    font-weight: 400;
    align-content: center;
}

.btn--primary{
    background-color: #9B9A78;
    color:#FFFFFF;
    width: 149px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    font-family:'poppins' ,sans-serif;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.main{
    max-width: 1600px;
    height:auto;
    margin:0 ;
    align-items: center;
    position: relative;
}

.hero{
    height: 560px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    position: relative;
    gap: 40px;
}


.img-in{
    display: flex;
    grid-column:1;
    grid-row: 1;
    display:flex;
    width:960px;
    height:560px;
    
}

.rectangle{
    display: flex;
    flex-direction: column;
    position:relative;
    grid-column:1;
    grid-row: 1;
    background-color: #FFFFFFB2;
    backdrop-filter:blur(10px);
    width: 916px;
    height: auto;
    position: absolute;
    justify-content: center;
    left:40%;
    }

.lista{
    grid-column:2;
    grid-row: 2;
    display:flex;
    gap:32px;
    line-height: 1px;
    margin-top: -20%;
}

.lista ul{
    display: inline;
    list-style:none;
    margin: 0;
    padding: 0;
}

.lista img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.lista p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'poppins' ,sans-serif;
    white-space: nowrap;
}

.lista li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.rectangle h1 .title-line{
    display: inline-flex;
    align-items:center;
    white-space:nowrap;
}


.goold-rectangle{
    width: 72px;
    height: 8px;
    background-color: #9B9A78;
    margin-left: 30px;
    
 }

 .rectangle h1{
    width: 600px;
    height: auto;
    font-family: 'Playfair Display SC' ,sans-serif;
    font-size: 56px;
    font-weight:600;
    margin-left: 46px;
    margin-top: 26px;
    margin-bottom: 43px;
    color: #313131;
 }

 .rectangle h3{
    width: 760px;
    height: auto;
    font-family:'poppins' ,sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #909090;
    margin-left: 46px;
 }

 .categories{
    display: flex;
    width: 1600px;
    justify-content:space-around;
    align-items: center;
    margin-top: 71px;
 }

.category-card{
    width: 512px;
    height: auto;
    gap: 32px;
}

.category-card img{
    width: 80px;
    height: 80px;
}

.categories h3{
    font-family: 'poppins' ,sans-serif;
    font-weight: 500;
    font-size: 24px;
    color:#313131;
    line-height: 8px;
}

.categories p {
    font-family: 'poppins' ,sans-serif;
    font-weight: 400;
    font-size:18px;
    color: #909090;
}

